<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Radix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="logo192.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  </body>
</html>
